@use '@carbon/react';

@link https://github.com/carbon-design-system/carbon/issues/2792;

@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@link https://github.com/carbon-design-system/carbon/issues/3010;
.cds--content {
  margin-top: 3rem;
  background: var(--cds-background);
}
